# Terraform state
*.tfstate
*.tfstate.*
# Crash logs
crash.log
# Exclude override files
override.tf
override.tf.json
# Local tfvars with secrets
*.tfvars
terraform.tfvars
# Terraform directories
.terraform/

# Editor files
*.swp
*~
.DS_Store
